<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="2.0.4" targetFramework="net472" />
  <package id="Microsoft.Toolkit.Wpf.UI.Controls" version="5.1.0-build.14.g97c3f5c88d" targetFramework="net472" />
  <package id="Microsoft.Toolkit.Wpf.UI.XamlHost" version="5.1.0-build.14.g97c3f5c88d" targetFramework="net472" />
  <package id="Prism.Core" version="7.2.0.660-ci" targetFramework="net472" />
  <package id="Prism.Wpf" version="7.2.0.660-ci" targetFramework="net472" />
  <package id="System.Runtime.WindowsRuntime" version="4.6.0-dev.18570.1" targetFramework="net472" />
  <package id="System.Runtime.WindowsRuntime.UI.Xaml" version="4.6.0-dev.18570.1" targetFramework="net472" />
</packages>