<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="TailConnectionString" connectionString="Server=tcp:tailwindtraders-desktop.database.windows.net,1433;Initial Catalog=tailwindtraders-desktopdb;Persist Security Info=False;User ID=tailwindtraders;Password=Tailwindtr4ders;Encrypt=true;Connection Timeout=30;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
