<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="MyGetPrism" value="https://www.myget.org/F/prism/api/v3/index.json" />
    <add key="NuGet" value="https://api.nuget.org/v3/index.json" />
    <add key="dotnet-core-beta" value="https://dotnet.myget.org/F/dotnet-core/api/v3/index.json" />
    <add key="toolkit" value="https://pkgs.dev.azure.com/tailwindtraders/_packaging/Toolkit/nuget/v3/index.json" />
  </packageSources>  
</configuration>